# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
dist/
releases/win-unpacked
releases/builder-debug.yml
releases/builder-effective-config.yaml
releases/Pomodoro Setup 1.0.0.exe.blockmap

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# SQLite database
*.db
*.sqlite

# Angular specific
.angular/cache/

# Electron specific
*.asar