# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
dist/
dist-electron/.icon-ico
dist-electron/win-unpacked
dist-electron/builder-debug.yml
dist-electron/builder-effective-config.yaml
dist-electron/latest.yml
dist-electron/Pomodoro Setup 1.0.0.exe.blockmap


# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# SQLite database
*.db
*.sqlite

# Angular specific
.angular/cache/

# Electron specific
*.asar